In [1]:
import pandas as pd

In [2]:
gnidata = pd.read_csv('GNI.csv', encoding='latin-1')
prisondata = pd.read_csv('prison_population.csv', encoding='latin-1')
educationdata=pd.read_csv('mean_years_of_schooling.csv', encoding='latin-1')
lifedata=pd.read_csv('life_expectancy_index.csv', encoding='latin-1')

In [3]:
cleangni = gnidata[['Country', '2015']].copy()
cleangni.columns=['Country','GNI Per Capita']
cleanprison = prisondata[['Country','2004-2015']].copy()
cleanprison.columns=['Country','Prison Population']
cleaneducation = educationdata[['Country','2015']].copy()
cleaneducation.columns=['Country','Mean Years of Schooling']
cleanlife = lifedata[['Country',"2015"]].copy()
cleanlife.columns=['Country','Life Expectancy']

In [4]:
mergeddf = pd.merge(cleangni,cleaneducation, how="left")
sndmerge = pd.merge(mergeddf,cleanlife,how='left')
totaldata = pd.merge(sndmerge,cleanprison,how='left')
totaldata = totaldata.dropna(how='any')   
totaldata.reset_index(drop=True, inplace=True)
totaldata.head()

,Country,GNI Per Capita,Mean Years of Schooling,Life Expectancy,Prison Population
0,Afghanistan,1871,3.5,0.626,74.0
1,Albania,10252,9.6,0.892,189.0
2,Algeria,13533,7.8,0.847,162.0
3,Andorra,47979,10.3,0.946,72.0
4,Angola,6291,5.0,0.503,106.0

In [5]:
row = 0
next = 0
for x in totaldata.loc[:,'Life Expectancy']:
    if x < 0.79:
        totaldata.loc[row,'Life Expectancy'] = 0
        row+=1
    else:
        totaldata.loc[row,'Life Expectancy'] = 1
        row+=1


for x in totaldata.loc[:,'Prison Population']:
    if x < 166:
        totaldata.loc[next,'Prison Population'] = 0
        next+=1
    else:
        totaldata.loc[next,'Prison Population'] = 1
        next+=1
totaldata.head(5)

,Country,GNI Per Capita,Mean Years of Schooling,Life Expectancy,Prison Population
0,Afghanistan,1871,3.5,0.0,0.0
1,Albania,10252,9.6,1.0,1.0
2,Algeria,13533,7.8,1.0,0.0
3,Andorra,47979,10.3,1.0,0.0
4,Angola,6291,5.0,0.0,0.0

In [6]:
totaldata.to_csv('country_data.csv')